 
body {
    background-color: rgb(246, 214, 214);
 }
      
h1 {
    font-family: cursive;
    color: white;
 }

h2 {
    color: white;
    font-family: cursive;
}

table {
    background-color: rgb(226, 164, 164);
}
p {
    background-color: rgb(165, 113, 113);
}

a {
    background-color: rgb(190, 140, 140);
}
